.sliderMainContainer{
    display: flex;
    justify-content: center;
}

.sliderContentContainer{
    display: flex;
    position: relative;
}

.sliderComponentContainer{
    display: flex;
    overflow-x: hidden;
}

.moveAnimationBase{
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

